{% extends 'base.html' %}

{% block content %}
<h1>Login</h1>
<form method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit" class="button is-primary">Login</button>
</form>

<p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
{% endblock %}
<footer>
    <p>&copy; 2025 Alens Bulkovskis PROG2 projekts. All rights reserved.</p>
</footer>