body {
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text */
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

#calendar {
    max-width: 900px;
    margin: 40px auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}